
/* Filename: \Include\Css\Home.css */
.button-courses {
  background-color: #d27a29;
  border: none;
  padding: 5px 13px;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-courses:hover, .button-courses:focus {
  background-color: #114040;
  outline-offset: 2px;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 32px 18px;
  /*justify-items: center;  */
  max-width: 900px;
  /*margin: 0 auto 40px;*/
}

.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  border: 2px solid white;
  padding: 10px;
  cursor: pointer;
  width: 130px;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.course-card:hover {
  padding: 10px;
  cursor: pointer;
  transform: scale(1.05);
  border: none;
}

.course-card img {
  width: 110px;
  height: 130px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  margin-bottom: 8px;
}

.course-card:hover img {
  transform: scale(1.1);
  border: none;
}

.course-card a, a:hover, a:visited, a:link {
  text-decoration: none;
  color: #114040;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.15;
}

.course-card a.price, a.price:hover, a.price:visited, a.price:link {
  text-decoration: none;
  color: #E46C0A;
}

/* Announcement block start */
.custom-fieldset {
  border: 2px solid #114040; /* This creates the outer border */
  border-radius: 5px; /* Optional: adds rounded corners */
  padding: 20px;
  position: relative; /* This is crucial for positioning the "legend" */
  margin: 40px auto; /* Centers the whole container on the page */
  max-width: 900px;
}

.custom-legend {
  position: absolute; /* Takes the element out of the normal flow */
  top: 0;
  left: 50%; /* Centers the left edge of the legend on the container */
  transform: translate(-50%, -50%); /* Moves the legend back by half its own width and height */
  padding: 0 10px;
  background-color: white; /* Matches the background so it "breaks" the border */
  z-index: 1; /* Ensures the legend is on top of the border */
}

.legend-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #114040;
  text-align: center;
  margin: 0; /* Resets default margin on the heading */
}

.fieldset-content {
  margin-top: 10px;
}
/* Announcement block end */

@media (max-width: 510px) {
  .courses-grid {
    /*grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));*/
	grid-template-columns: repeat(2, 1fr); /* 2 per row on mobile screens */
    gap: 24px 12px;
  }

  .course-card img {
    width: 100px;
    height: 110px;
  }

  .course-title {
    max-width: 100px;
    font-size: 0.85rem;
  }
}